<div class="card text-center fixed-bottom">
<div class="card-header">
  <div class="card-body">
  <footer class="container ">
  <p class="float-right"><a href="#">Voltar</a></p>
  <p>&copy; 2020 Davi Marques, Tech. &middot;</p>
</footer>
  </div>
</div>